#head {
    text-align: center;
    color: black;
    border-radius:7px;
    background-color: white;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 50%; */
    /* border: aqua 20px solid; */
    /* background-color: whitesmoke; */
    height: 300px;
    width: 300px;
}

#inputField {
}
#bar {
    text-align: center;
}

body {
    /* align-content: center; */
    padding: 0% 20%;
    background-color: aliceblue;
}

