#head {
    text-align: center;
    color: black;
    border-radius:7px;
    background-color: white;
}

#inputField {
    text-align: center;
}

body {
    padding: 0% 20%;
    background-color: aliceblue;
}

